{% extends "index.html" %}
{% block content %}
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">ISBN</th>
        <th class="th-sm">TITLE</th>
        <th class="th-sm">AUTHOR</th>
        <th class="th-sm">STATUS</th>
        <th class="th-sm">Issue Request</th>
      </tr>
    </thead>
    <tbody>
    {% for book in books %}
      <tr>
        <td>{{book[0]}}</td>
        <td>{{book[1]}}</td>
        <td>{{book[2]}}</td>
        <td>{{book[3]}}</td>
        <td></td>
      </tr>
      {% endfor %}
      </tbody>
{% endblock %}